body {
    background-color: crimson;
}
 p {
    color: rgb(255, 149, 149);
 }
 .destacado {
    font-weight: bold;
 }
 #importante {
    font-size: 20px;
 }
    .box {
        width: 200px;
        height: 100px;
        padding: 10px 15px 20px 25px; /* Arriba, Derecha, Abajo Izquierda */
        border: 5px solid black;
        margin: 20px;
        background-color: lightgray;
        
    }

    .centered {
        width: 50%;
        margin: auto;
    }